page-menu-formula {

}
.grid-full ion-row {
    
    height: 100%;
    
    padding: 0;
    
    flex-wrap: wrap;
    
    }
    
    
    .grid-full ion-col {
    
    flex: 0
    0 33%;
    
    max-width: 33%;
    
    text-align: center;
    
    padding: 10px
    5px;
    
    border-style: 
    solid;
    
    border-color: 
    rgba(255, 255,
    255, 0.52);
    
    }
    
    
    .cell-1 {
    
    // background-color: #bc3138;
    
    }
    
    .icons{
    
    display: inline-block;
    
    font-size: 3.2em;
    
    color: #C71717;
    
    }
    
    .custom {
    
    color: rgb(1,
    5, 3);
    
    font-style: italic;
    
    font-weight: 
    bold;
    
    }
    