page-situacion-ayuda-humanitaria {

}
.selectTogle{
    margin-left:auto !important;
}
.vertical-align-content > *
{
    //  display: flex!important;
    //  align-content: center!important;
    //  align-items: center!important;
     
}
.sizeTextSit 
{
    color: #999;
    font-size: 70% !important;
     text-align: right;
}