page-formularios-list {

}
.vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
     
}
.sizeText 
{
    color: #999;
    font-size: 70% !important;
}